.sidebar {
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #672f2f;
    font-size: 25px;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: left;
    font-weight: bold;
}
.nav ul {
    list-style: none;
    padding-left: 0;
}

nav h1 {
    color: #865f5f;
    margin: 0;
    padding-top: 25px;
}

.nav li a {
    text-decoration: none;
    color: #D7D1CA;
    transition: all 100ms linear;
}

li.active a {
    color: #c65050;
}
li:not(.active):hover a {
    color: #c65050;
}